<script src="https://kit.fontawesome.com/ab1f34fcc9.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<style>
    body{
        margin: 0;
        font-size: 12px;
        padding: 1rem 0;

    }
    *{
        line-height: 26px !important;
    }
    .heading{
        text-align: center;
        background: #4ABDE5;
        padding: 0.75rem 0;
        color: white;
    }
    .partner-consumer--heading, .dentread-consumer--heading{
        color: #1F3F7F;
        margin-bottom: 1rem;
    }
    .business-details{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    .provider-details{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .business-details img{
        height: 2rem;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    img{
        height: 2rem;
        margin-right: 1rem;
    }
    
    label{
        font-weight: 600;
    }
    .partner-consumer--address, .dentread-consumer--address{
        display: flex;
        flex-direction: column;
        /* gap: 0.3rem; */
    }
    .patient-info{
        display: flex;
        margin: 1.5rem 0;
        justify-content: space-between;
    }
    .order-table{
        table-layout: auto;
        width: 100%;
        text-align: left;
        margin: 1.5rem 0;
        box-shadow: 1px 4px 14px rgba(129, 119, 119, 0.1);
        background: rgb(227 227 227 / 10%);
        border-spacing: 5px;
        font-size: 10px;
    }
    .table-teader-style{
        width: 100%;
        text-align: center;
        margin: 1.5rem 0;
        box-shadow: 1px 4px 14px rgba(129, 119, 119, 0.1);
        background: rgb(227 227 227 / 10%);
        border-spacing: 5px;
    }
    th{
        background-color: #BAEDFD54;
        padding: 0.5rem;
    }
    td{
        padding: 0.5rem;
        background: white;
    }
    
    summary{
        margin: 2rem 0 1.5rem 0;
        display: flex;
        justify-content: space-between;
    }
    
    .summary div{
        margin-top: 0.75rem;
    }
    .summary span{
        color: #1F3F7F;
        float: right;
        margin-left: 2rem;
    }
    
    .dentread-details, .consumer-details{
        max-width: 400px;
        display: flex;
    }
    .other-details{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin: 1.5rem 0;
    }
    .other-details>div{
        width: 33%;
        max-width: 400px;
    }
    .notes{
        margin-top: 4rem;
        max-width: 60%;
    }
    ul{
        font-size: 12px;
    }
    .content>*:not(table){
        padding: 0 1rem;
    }
    .billing-address{
        max-width: 350px;
    }
    .terms-n-conditions{
        display: none;
    }
    .extra-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .powered-by{
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-top: 4rem;
    }
    #total-value--words{
        width: 200px;
        text-align: right;
    }
</style>

<div class="content">
    <h3 class="heading">
        INVOICE
    </h3>
    <div class="business-details">
        <div class="dentread-details">
            <div class="icon-image" >
                <img src="/static/logo/dentread-svg-logo.svg" alt="">
            </div>
            <div class="">
                <h3 class="dentread-consumer--heading">Dentread Technologies Private Limited</h3>
                <div class="dentread-consumer--address">
                    <div class="nominal-address">
                        <label for="address-details">Address: </label>
                        <span id="address-details">
                            1018, Logix Office Tower, Sector 32 Noida, Uttar Pradesh, 201301, India
                        </span>
                    </div>
                    <div class="tele-details">
                        <label for="tele-details">Telephone: </label>
                        <span id="tele-details">
                            971-7933-889
                        </span>
                    </div>
                    <div class="email-details">
                        <label for="email-details">Email: </label>
                        <span id="email-details">
                            info@dentread.com
                        </span>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="consumer-details">
            <div class="icon-image" >
                <img src="{{org.logo.url}}" alt="">
            </div>
            <div class="">
                <h3 class="partner-consumer--heading">{{org.orgname}}</h3>
                <div class="partner-consumer--address">
                    <div class="nominal-address">
                        <label for="address-details">Address: </label>
                        <span id="address-details">
                            {{org.address}}
                        </span>
                    </div>
                    <div class="tele-details">
                        <label for="tele-details">Telephone: </label>
                        <span id="tele-details">
                            {{org.contact}}
                        </span>
                    </div>
                    <div class="email-details">
                        <label for="email-details">Email: </label>
                        <span id="email-details">
                            {{org.email}}
                        </span>
                    </div>
                    <div class="cin-details">
                        <label for="cin-details">Reg No: </label>
                        <span id="cin-details">
                            {{org.regNo}}
                        </span>
                    </div>
                    <div class="gst--details">
                        <label for="gst--details">GST No: </label>
                        <span id="gst--details">
                            {{org.gstin}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="other-details">
        <div class="partner-details">
            <h3>Business Details</h3>
            <div class="gst-details">
                <label for="gst-details">GSTIN: </label>
                <span id="gst-details">
                    09AAJCD6792Q1ZK
                </span>
            </div>
            <div class="state-details">
                <label for="state-details">State: </label>
                <span id="state-details">
                    Uttar Pradesh 
                </span>
            </div>
            <div class="pan-details">
                <label for="pan-details">PAN: </label>
                <span id="pan-details">
                    AAJCD6792Q
                </span>
            </div>
            <div class="cin-details">
                <label for="cin-details">CIN: </label>
                <span id="cin-details">
                    U85300UP2022PTC173565
                </span>
            </div>
            <div class="invoice-date">
                <label for="invoice-date">Invoice Date: </label>
                <span id="invoice-date">
                    {{today}}
                </span>
            </div>
            <div class="invoice-number">
                <label for="invoice-number">Invoice No: </label>
                <span id="invoice-number">
                    DNTRED/11
                </span>
            </div>
            <div class="reference-details" style="display: none;">
                <label for="reference-details">TAN: </label>
                <span id="reference-details">
                    MRTD07799B
                </span>
            </div>
            
        </div>
        <div class="billing-address">
            <h3>Billing Address</h3>
            <div class="nominal-address">
                <label for="address-details">Address: </label>
                <span id="address-details">
                    {{org.address}}
                </span>
            </div>
            <div class="tele-details">
                <label for="tele-details">Telephone: </label>
                <span id="tele-details">
                    {{org.contact}}
                </span>
            </div>
            <div class="email-details">
                <label for="email-details">Email: </label>
                <span id="email-details">
                    {{org.email}}
                </span>
            </div>
        </div>
        <div class="shipping-address">
            <h3>Shipping Address</h3>
            <div class="nominal-address">
                <label for="address-details">Address: </label>
                <span id="address-details">
                    {{org.address}}
                </span>
            </div>
            <div class="tele-details">
                <label for="tele-details">Telephone: </label>
                <span id="tele-details">
                    {{org.contact}}
                </span>
            </div>
            <div class="email-details">
                <label for="email-details">Email: </label>
                <span id="email-details">
                    {{org.email}}
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="patient-info">
        
        <div>
            <label for="service-date">Due Date:</label>
            <span>{{due_date}}</span>
        </div>
        <div>
            <label for="service-date">Center:</label>
            <span>{{org.orgname}}</span>
        </div>
        <div class="place-of-supply">
            <label for="center">Place of Supply:</label>
            <span>{{org.state}}</span>
        </div>
    </div>
    <hr>
    <table class="order-table auto-index">
        <thead>
            <tr>
                <th>Sl No</th>
                <th >Service Date</th>
                <th>Service</th>
                <th style="text-align: center;">HSN/HAC</th>
                <th>Order Id</th>
                <th>Product/Study</th>
                <th>Patient Name</th>
                <!-- <th>Center </th> -->
                <th style="text-align: center;">MRP (₹)</th>
                <th style="text-align: center;">Discount (%)</th>
                <th style="text-align: center;">Net Amount (₹)</th>
                <th style="text-align: center;">SGST (%)</th>
                <th style="text-align: center;">CGST (%)</th>
                
            </tr>
        </thead>
        <tbody>
            {% for i in radioData %}
                <tr>
                    <td></td>
                    <td style="font-size: 11px;">{{ i.date|date:"d-m-y" }}</td>
                    <td>{{i.service_name}}</td>
                    <td style="text-align: center;">999316</td>
                    <td>RR-{{ i.id }}</td>
                    <td>{{i.data_type}} | {{i.service_catagory}} {% if i.finding_requires %}| {{i.finding_requires}} {% endif %}</td>
                    <td>{{ i.name }}</td>
                    <!-- <td>{{i.orgid_id}}</td> -->
                    <td style="text-align: center;">{{i.price}}</td>
                    <td style="text-align: center;">{{i.discount}}</td>
                    <td style="text-align: center;">{{i.netAmount}}</td>
                    <td style="text-align: center;">0</td>
                    <td style="text-align: center;">0</td>
                </tr>
            {% endfor %}
            {% for i in imageData %}
                <tr>
                    <td></td>
                    <td style="font-size: 11px;">{{ i.date|date:"d-m-Y" }}</td>
                    <td>{{ i.service_name }}</td>
                    <td style="text-align: center;">999316</td>
                    <td>IM-{{ i.id }}</td>
                    <td>{{i.data_type}} | {{i.service_catagory}} | {{i.sub_category}}</td>
                    <td>{{ i.name }}</td>
                    <!-- <td>{{i.orgid_id}}</td> -->
                    <td style="text-align: center;">{{i.price}}</td>
                    <td style="text-align: center;">{{i.discount}}</td>
                    <td style="text-align: center;">{{i.netAmount}}</td>
                    <td style="text-align: center;">0%</td>
                    <td style="text-align: center;">0%</td>  
                </tr>
            {% endfor %}
            {% for i in implantData %}
                <tr>
                    <td></td>
                    <td style="font-size: 11px;">{{ i.date|date:"d-m-Y" }}</td>
                    <td>{{service_name}}</td>
                    <td style="text-align: center;">9021</td>
                    <td>IP-{{ i.id }}</td>
                    <td>{{i.data_type}} | {{i.service_catagory}} | {{i.planning_type}}</td>
                    <td>{{ i.name }}</td>
                    <!-- <td>{{i.orgid_id}}</td> -->
                    <td style="text-align: center;">{{i.price}}</td>
                    <td style="text-align: center;">{{i.discount}}</td>
                    <td style="text-align: center;">{{i.netAmount}}</td>
                    <td style="text-align: center;">9%</td>
                    <td style="text-align: center;">9%</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
    
    <summary>
        <div class="bank-details">
            <h3>Bank Details</h3>
            <div class="account-no">
                <label for="account-no">Account Number: </label>
                <span id="account-no">
                    165305000392
                </span>
            </div>
            <div class="ifsc-details">
                <label for="ifsc-details">IFSC: </label>
                <span id="ifsc-details">
                    ICIC0001653
                </span>
            </div>
            <div class="bank-name">
                <label for="bank-name">Bank Name: </label>
                <span id="bank-name">
                    ICICI BANK
                </span>
            </div>
            <div class="branch-name">
                <label for="branch-name">Branch Name: </label>
                <span id="branch-name">
                    DLF PHASE IV BRANCH
                </span>
            </div>
            
        </div>
        <div class="summary">
            <div class="taxable-amount">
                <label for="taxable-amount">Taxable Amount: </label>
            <span id="taxable-amount">₹ {{taxable_amount}}</span>
            </div>
            <div class="total-tax">
                <label for="total-tax">Total Tax: </label>
                <span id="total-tax">₹ {{total_tax}}</span>
            </div>
            <div class="total-value">
                <label for="total-value">Total Discount: </label>
                <span id="total-value">₹ {{total_discount}}.0</span>
            </div>
            <div class="total-payble">
                <label for="total-payble">Total Payable: </label>
                <span id="total-payble">₹ {{total_payble}}.0</span>
            </div>
            <div class="total-value--words">
                <label for="total-value--words">Total Payable Value (in words): </label>
                <span id="total-value--words">{Total Value}</span>
            </div>
        </div>
    </summary>

    <div class="extra-content">
        <div class="notes">
            <h5 style="line-height: 0 !important;">Notes: </h5>
            <ul>
                {% for i in notes%}
                    <li></li>
                {% endfor %}
                .
            </ul>
        </div>
        <div class="powered-by">
            <label for="dentread-logo">Powered By: </label>
            <img src="/static/logo/DentreadlogoV3cloud30May.png" alt="dentread logo" id="dentread-logo" >
        </div>
        
    </div>
</div>
<script>
    function price_in_words(price) {
        var sglDigit = ["Zero", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine"],
          dblDigit = ["Ten", "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen"],
          tensPlace = ["", "Ten", "Twenty", "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety"],
          handle_tens = function(dgt, prevDgt) {
            return 0 == dgt ? "" : " " + (1 == dgt ? dblDigit[prevDgt] : tensPlace[dgt])
          },
          handle_utlc = function(dgt, nxtDgt, denom) {
            return (0 != dgt && 1 != nxtDgt ? " " + sglDigit[dgt] : "") + (0 != nxtDgt || dgt > 0 ? " " + denom : "")
          };
      
        var str = "",
          digitIdx = 0,
          digit = 0,
          nxtDigit = 0,
          words = [];
        if (price += "", isNaN(parseInt(price))) str = "";
        else if (parseInt(price) > 0 && price.length <= 10) {
            for (digitIdx = price.length - 1; digitIdx >= 0; digitIdx--) switch (digit = price[digitIdx] - 0, nxtDigit = digitIdx > 0 ? price[digitIdx - 1] - 0 : 0, price.length - digitIdx - 1) {
            case 0:
              words.push(handle_utlc(digit, nxtDigit, ""));
              break;
            case 1:
              words.push(handle_tens(digit, price[digitIdx + 1]));
              break;
            case 2:
              words.push(0 != digit ? " " + sglDigit[digit] + " Hundred" + (0 != price[digitIdx + 1] && 0 != price[digitIdx + 2] ? " and" : "") : "");
              break;
            case 3:
              words.push(handle_utlc(digit, nxtDigit, "Thousand"));
              break;
            case 4:
              words.push(handle_tens(digit, price[digitIdx + 1]));
              break;
            case 5:
              words.push(handle_utlc(digit, nxtDigit, "Lakh"));
              break;
            case 6:
              words.push(handle_tens(digit, price[digitIdx + 1]));
              break;
            case 7:
              words.push(handle_utlc(digit, nxtDigit, "Crore"));
              break;
            case 8:
              words.push(handle_tens(digit, price[digitIdx + 1]));
              break;
            case 9:
              words.push(0 != digit ? " " + sglDigit[digit] + " Hundred" + (0 != price[digitIdx + 1] || 0 != price[digitIdx + 2] ? " and" : " Crore") : "")
        }
          str = words.reverse().join("")+' Rupees Only'
        } else str = "";
        return str
      
    }
    document.getElementById('total-value--words').innerText = price_in_words({{total_payble}})
</script>
<script>
    var addSerialNumber = function () {
        $('table tr').each(function(index) {
            $(this).find('td:nth-child(1)').html(index-1+1);
        });
    };
    addSerialNumber();
</script>
<script>
    window.addEventListener("load", window.print());
</script>