{% extends 'dentreadbase.html' %} 
{% load static %} 
{% block content %}

<style>
    body{
        background: white;
    }
    *{
        box-sizing: border-box;
        line-height: 30px;
        margin: 0;
        padding: 0;
    }
    .container{
        margin: 1rem auto;
        max-width: 1150px;
    }
    .header{
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    .header img{
        transform: rotate(90deg);
        width: 22px;
    }
    .header h5{
        margin-bottom: 0 !important;
        margin-left: 1rem;
    }
    
    .content{
        box-shadow: 1px 2px 10px 0px #79797942;
        padding: 4rem;
        border-radius: 8px;
    }
    .submit-button{
        width: 161px;
        height: 36px;
        background: #1F3F7F;
        border-radius: 8px;
        color: white;
    }
    
    form>.form-group{
        display: flex;
        margin-top: 1rem;
        gap: 1.5rem;
    }
    .extra-written--content{
        color: rgba(51, 51, 51, 0.8);
        font-size: 1rem;
    }
    .extra-written--content:last-of-type{
        margin-top: 2rem;
    }
   label{
    display: none;
   }
    
</style>


<div class="container">
    <div class="header">
        <img src="/static/svg_icons/arrowleft2.svg" alt="left arrow" style="cursor: pointer;" onclick="history.back()">
        <h5  onclick="history.back()" style="cursor: pointer;">Password Reset</h5>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                <img src="/static/svg_icons/forgotPassword.svg" height="400px" alt="User Registration">
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center flex-column">
                <div class="mb-4 extra-written--content">
                    Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
                </div>
                <form  method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        {% if message %}
                            <div class="alert alert-{{class}} alert-dismissible fade show" role="alert">
                                <strong></strong> {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="form-group col-sm-6">
                            <p class="email_field">{{form}}</p>
                            
                        </div>
                        
                        
                    </div>
                    
                    <button type="submit" class="btn_sign btn submit-button mt-2"name="" value="Login">Submit</button>
                  
                </form>
                <div class="mb-4 extra-written--content">
                    Copyright &#169;2022, Dentread. All Rights Reserved.
                </div>

            </div>
        </div>
    </div>

    

    

</div>

<script>
    document.querySelector('input[type="email"]').classList.add('form-control');
    document.querySelector('input[type="email"]').setAttribute('placeholder','abc@xyz.com')
    
</script>

{%endblock%}

