{% extends 'dentreadbase.html' %}
{% load static %}
{% block content %}
<section class="password_reset ">

    <a href="{% url 'login_dentread' %}">
            <img src="{%  static '/logo/DentreadlogoV3cloud30May.png' %}" alt="Dentread">
    </a>
<div class="container-fluid">
<h3>Password Reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}

	<p class="email_field">{{form}}</p>
    <button class="btn_sign" type="submit" name="" value="Login">SUBMIT</button>
</form>
    <div class="footer">
        Copyright © 2022, Dentread. All Rights Reserved.
    </div>
</div>
</section>
{% endblock %}
