{% extends 'dentreadbase.html' %}
{% load static %}
{% block content %}
<div class="container">

    <a href="{% url 'login_dentread' %}">
        <img src="{%  static '/logo/DentreadlogoV3cloud30May.png' %}" alt="Dentread">
    </a>
    <section class="password_reset_form">
            <h3>Enter new password</h3>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            <form method="post" onsubmit="return validate()">

                {% csrf_token %}
                <div class="formfield" id="firstnamefield">
                    {{ form }}
                </div>
                <!--	<input type="Submit" name="Update Password">-->
                <button class="btn_sign" type="submit" name="Update Password" value="Login">SUBMIT</button>
            </form>
            <div class="copy_right mar_top">
                Copyright © 2021, Dentread. All Rights Reserved.
            </div>

    </section>
</div>
{% endblock %}