{% extends 'dentread_dashbase.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

	<div class="main-content pt-0">
				<div class="container">
					<div class="inner-body">


    <div class="row row-sm">
                <div class="col-sm-6 ">
               <ol class="breadcrumb float-sm-left">
                   <li class="breadcrumb-item"><a href="#"><h5></h5></a></li>
                    </ol>

                 </div>

									<div class="col-sm-12 col-lg-12 col-xl-12">
										{% if message %}
								<div class="alert alert-success alert-dismissible fade show" role="alert">
  									<strong></strong> {{message}}
  										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
  										</button>
								</div>
										{% endif %}

									</div>
								</div>
 <!-- Main content -->


          <!-- Profile Image -->

            <div class="row row-sm">
               <div class="col-md-8">
            <div class="card card-primary">
              <div class="card-header  text-white" style="background-color:#2f6ebb;">
                <h6 class="card-title">Add Appointment</h6>
              </div>
              <!-- /.card-header -->

              <div class="card-body">




 <form  method="post" action="/add_appointment">
        {% csrf_token %}

                  <div class="form-group">
                    <label for="exampleInputEmail1">Date</label>
                    <input type="date" class="form-control" id="date" name="date" placeholder="Appointment Date">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Time</label>

                    <input type="time" class="form-control" id="time" name="time" placeholder="Time" style="timeFormat:hh:mm;">
                  </div>
                    <div class="form-group">
                    <label for="exampleInputPassword1">Patient Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                  </div>
                    <div class="form-group">
                    <label for="exampleInputPassword1">Contact Number</label>
                    <input type="number" class="form-control" id="contact" name="contact" placeholder="Contact Number">
                  </div>
                     <div class="form-group">
                    <label for="exampleInputPassword1">Email Id</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email ID">
                  </div>


                    <div class="form-group">
                        <label for="exampleInputPassword1">Study</label>
                        <select type="text" id="study" name="study"  class="form-control select2bs4" style="width: 100%;">
                      <option selected="selected" disabled>Choose </option>

                           <option value="OPG">OPG</option>
                            <option value="CBCT">CBCT</option>


                       </select>
                      </div>
                    <div class="form-group">
                    <label for="exampleInputPassword1">Remark</label>
                    <input type="text" class="form-control" id="remark" name="remark" placeholder="Remark">
                  </div>


                <!-- /.card-body -->


                  <button type="submit" class="btn btn-block ripple btn-primary">Add Appointment</button>
                </div>
              </form>
              </div>
               </div>
            </div>
                    </div>
                </div>
    </div>
</div>
{% endif %}
{%endblock%}