{% extends 'dentread_dashbase.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="main-content pt-0 "><!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->

      <div class="container">
          <div class="inner-body">

      <div class="row row-sm">
          <div class="col-sm-6 ">
               <ol class="breadcrumb float-sm-left">
                   <li class="breadcrumb-item"><a href="#"><h5>All Referred Patients</h5></a></li>
                    </ol>

          </div>

        </div>

     <!-- /.container-fluid -->


    <!-- Main content -->

        <div class="row">
          <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="card">



              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered border-t0 key-buttons text-nowrap w-100">
                  <thead>
                  <tr>
                    <th>Date</th>
                     <th hidden> Date</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Contact</th>
                    <th>Remark</th>
                    <th>Ref By</th>

                      <th>Study </th>
                    <th>Status </th>
                    <th>Actions</th>

                  </tr>
                  </thead>
                  <tbody>
                   {% for i in refpt %}
                  <tr>
                    <td>{{ i.rdate|date:'d-m-Y' }}</td>
                    <td hidden>{{ i.rdate|date:'Y-m-d' }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.gender }}</td>
                      <td>{{ i.age }}</td>
                    <td>{{ i.contact }}</td>
                    <td>{{ i.remark }}</td>
                    <td>{{ i.regby }}</td>

                      <td>
                         {{i.stud}}
                      </td>
                     <td>
                         {{i.status}}
                      </td>

                    <td>
                          <a class="btn btn-success btn-sm" href="/reftopt/{{ i.id }}" data-toggle="tooltip" data-placement="top" title="Register Now">
                              <i class="fa fa-check-circle">
                              </i>

                          </a>
                      {% if i.upload %}
                          <a class="btn btn-info btn-sm" href="/download/{{ i.refptid }}" data-toggle="tooltip" data-placement="top" title="Download DCM files">
                              <i class="fas fa-download">
                              </i>

                          </a>
                          {% endif %}
<!-- ./wrapper --></td>
                  </tr>
                {% endfor %}
                  </tbody>

                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
</div>
        <!-- /.modal-dialog -->
      </div>

</body>
{% endif %}
{%endblock%}
