{% extends 'domain_dashbase.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}



  <div class="main-content pt-0 "><!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->

      <div class="container">
          <div class="inner-body">

      <div class="row row-sm">
          <div class="col-sm-6 ">
               <ol class="breadcrumb float-sm-left">
                   <li class="breadcrumb-item"><a href="#"><h5>All Packs</h5></a></li>
                    </ol>

          </div>

        </div>
    <!-- Main content -->
  <div class="row">
          <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="card">




              <!-- /.card-header -->
              <div class="card-body">

                <table id="example2" class="table table-bordered border-t0 key-buttons text-nowrap w-100">
                  <thead>
                  <tr>
                   <th>Pack Type</th>
                      <th>Applicable For</th>
                      <th>No of Scans</th>
                      <th>Validity</th>
                      <th>Status</th>
                      <th>Price</th>

                      <th>Actions</th>

                  </tr>
                  </thead>
                  <tbody>
                         {% for s in pack %}
                  <tr>
                      <td>{{ s.type }}</td>
                    <td>{{ s.applied }}</td>
                      <td>{{ s.scans }}</td>
                    <td>{{ s.validity }}</td>
                    <td>{{ s.status }}</td>
                      <td>{{ s.price }}</td>

  <td>
                          <a class="btn btn-info btn-sm" href="/edit_pack/{{ s.id }}">
                              <i class="fas fa-pencil-alt">
                              </i>

                          </a>
                          <a class="btn btn-danger btn-sm" href="/delete_pack/{{ s.id }}">
                              <i class="fas fa-trash">
                              </i>

                          </a>


                      </td>
                  </tr>
                {% endfor %}
                  </tbody>

                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->

    <!-- /.content -->

  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
</div>
        <!-- /.modal-dialog -->
      </div>

{% endif %}
{%endblock%}
