{% extends 'dentread_dashbase.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<style>
    body{
        background: white;
        padding-left: 80px;
    }
    *{
        box-sizing: border-box;
        line-height: 30px;
    }
    .container{
        margin: 1rem auto;
        max-width: 1200px;
    }
    .header{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .header img{
        width: 20px;
    }
    .search-box{
        border-radius: 0.25rem;
    }
    .search-box input, select{
        box-shadow: 1px 2px 10px 0px #79797942;
        width: 175px !important;
    }
    .search-enclosing{
        box-shadow: 1px 2px 10px 0px #79797942;
        width: 38px;
        height: 38px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        border: 1px solid #dfe2e9;
    }
    .header .form-group{
        margin-bottom: 0 !important;
    }
    .add-button{
        height: 38px !important;
        width: 175px !important;
        background: #1F3F7F;
        border-radius: 8px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    .add-button .add-icon{
        font-size: 1.5rem;
    }
    .card-enclosing{
        box-shadow: 1px 2px 10px 0px #79797942;;
        margin-bottom: 1rem;
        border-left: 5px solid #1F3F7F;
        padding: 1rem 1.5rem;
    }
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .action-enclosing button{
        float: right;
        margin-top: 1rem;
        margin-right: 2rem;
    }
    .main-content{
        padding-top: 0 !important;
    }
    
    .icon-enclosing img{
        height: 45px;
    }
    .details-enclosing span:not(.patient-name){
        font-weight: 500;
        /* margin-left: 0.5rem; */
    }
    .patient-name{
        font-weight: 500;
        text-transform: capitalize;
    }

    /* .bottom-field{
        width: 100%;
        padding: 20px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .pagination{
        display: flex;
        width: 15%;
        overflow: hidden;
        align-items: center;
        scroll-behavior: smooth;
    }
    .pagination li{
        list-style: none;
        padding: 2px;
        margin: 10px;
        flex-shrink: 0;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #999;
        color: #999;
    }
    .pink-border{
        border-left: 5px solid #FF007F;
    }
    .pagination li.active{
        background: #B0B0B0;
        color: white;
        border-color: #B0B0B0;
    }
    .pagination li a{
        text-decoration: none;
        padding: 0 8px;
        color: inherit;
        display: block;
        font-family: sans-serif;
        font-size: 13px;
    }
    .prev{
        position: absolute;
        left: 35%;
    }
    .last{
        position: absolute;
        right: 35%;
    } */

    .bottom-field{
        width: 100%;
        padding-top: 5px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .pagination{
        display: flex;
        width: 11%;
        overflow: hidden;
        align-items: center;
        scroll-behavior: smooth;
        background: rgba(31, 63, 127, 0.04);
        box-shadow: inset 1px 4px 8px rgb(129 119 119 / 10%);
        border-radius: 8px;
    }
    .pagination li{
        list-style: none;
        padding: 2px;
        margin: 4px 5px;
        flex-shrink: 0;
        text-align: center;
        border-radius: 5px;
        /* border: 1px solid #999; */
        color: #999;
    }
    
    .pagination li.active{
        background: white;
        color: black;
        border-color: #B0B0B0;
    }
    .pagination li a{
        text-decoration: none;
        padding: 0 8px;
        color: inherit;
        display: block;
        font-family: sans-serif;
        font-size: 13px;
    }
   
    .prev, .last{
        position: absolute;
        border: 1px solid #999;
        padding: 0;
        border: none;
        box-shadow: 1px 4px 14px rgb(129 119 119 / 10%);
        border-radius: 8px;
    }
    a#prev, a#last{
        padding: 0 6px;
    }
    .prev{
        left: 38%;
    }
    .last{
        right: 38%;
    }
</style>


<div class="container">
    <div class="header">
        <h5>Manage Patients</h5>

        <div class="search-enclosing" onclick="onSearchAnimate(this)">
            <img src="/static/svg_icons/ei_search_icon.svg" alt="">
        </div>
        <div class="search-box d-none ml-3">
            <input type="text" placeholder="Search Name here..." class="form-control" id="cardSearch" onkeydown="onNameSearch(this.value)">
        </div>

        {% if usr.department == 'Admin'%}
            <form action="/showpatients" method="post">
                {% csrf_token %}
                <div class="form-group ml-3">
                    <label class="d-none">Branch</label>
                    <select class="form-control" name="users" id="users">
                        <option selected>Select Branch</option>
                        {% for i in branch %}
                            <option value="{{i.id}}">{{i.orgname}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        {% endif %}

        <a href="/add_patient_only" class="btn add-button ml-3"> <span class="add-icon">+</span> New Patient</a>
        
    </div>

    <div class="result">Results: <span></span></div>
    <div class="main-content">

        {% for i in patient %}
            <div class="card-enclosing row">
                <div class="col-sm-1 icon-enclosing d-flex align-items-center">
                    {% if i.gender == 'Female' %}
                        <img src="/static/svg_icons/female-pink.svg" alt="female icon">
                    {% endif %}
                    {% if i.gender != 'Female' %}
                        <img src="/static/svg_icons/Male.svg" alt="male icon">
                    {% endif %}
                </div>
                <div class="col-sm-10 details-enclosing row">
                    {% if i.name and i.name != 'None' and i.name != '' %}
                        <div class="col-sm-4"><span class="patient-name">{{i.name}}</span> </div>
                    {% endif %}
                    {% if i.pid and i.pid != 'None' and i.pid != '' %}
                        <div class="col-sm-4">ID: <span>{{i.pid}}</span></div>
                    {% endif %}
                    {% if i.age and i.age != 'None' and i.age != '' %}
                        <div class="col-sm-4">Age: <span>{{i.age}}</span></div>
                    {% endif %}
                    {% if i.rdate and i.rdate != 'None' and i.rdate != '' %}
                        <div class="col-sm-4"> Date: <span>{{i.rdate}}</span> </div>
                    {% endif %}
                    {% if i.contact and i.contact != 'None' and i.contact != '' %}
                        <div class="col-sm-4">Contact: <span>{{i.contact}}</span></div>
                    {% endif %}
                    {% if i.email and i.email != 'None' and i.email != '' %}
                        <div class="col-sm-4">Email: <span>{{i.email}}</span></div>
                    {% endif %}

                </div>
                <div class="col-sm-1 action-enclosing">
                    
                    <button aria-expanded="false" aria-haspopup="true" class="kebab-button btn ripple btn-sm btn-outline-primary ml-auto" style="margin-right: 12px;" data-toggle="dropdown"
                        id="dropleftMenuButton" type="button"><i class="si si-options-vertical"></i>
                    </button>
                    
                    <div aria-labelledby="dropleftMenuButton" class="dropdown-menu tx-13">
                        <a class="dropdown-item" style="cursor: pointer;" href="/patientdetails/{{ i.id }}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            View
                        </a>
                        <a class="dropdown-item" style="cursor: pointer;" href="/edit_patient/{{ i.id }}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Edit 
                        </a>
                        <a class="dropdown-item" style="cursor: pointer;" href="/delete_patient/{{ i.id }}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Delete
                        </a>
                    </div>
                   
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="bottom-field">
        <ul class="pagination" onclick="onPaginationClick(event)">
            <li class="prev">
                <a href="#1" id="prev">
                    <img src="/static/svg_icons/pagination-left.svg" alt="">
                </a>
            </li>
            <li class="last">
                <a href="#1" id="last">
                    <img src="/static/svg_icons/pagination-left.svg" alt="" style="transform: rotate(180deg);">
                </a>
            </li>
        </ul>
    </div>

</div>

<script>
    //patient filling here
    
    let totalPatients = [];

    totalPatients = document.querySelectorAll('.card-enclosing')
    totalPatients = [...totalPatients];
    totalPatients.reverse();
    let allPatients = [...totalPatients]

    document.querySelector('.result span').innerText = allPatients.length;
    
    //cards allowed per page
    let cardsAllowed = 8;

    function nosPaginationFunction(){
        return Math.ceil(allPatients.length/cardsAllowed);
    }
    let nosPagination = 0;
    // paginationNumbers here 
    function paginationNumber(){
        nosPagination = nosPaginationFunction();
        for(let i= 1; i<=nosPagination; i++){

            // li creation 
            let li= document.createElement('li');
            li.classList.add('list');
            li.setAttribute('id', "item"+`${i}`);

            // anchor creation 
            let a= document.createElement('a');
            a.href= '#1';
            a.innerText = i;

            // appending anchor to the list item
            li.appendChild(a);
            

            // appending li to the ul 

            document.querySelector('.pagination').insertBefore(li, document.querySelector('.last'));
        }
    }
    paginationNumber();
    
    //current page: by default 1
    currentPage = 1;
    prevActiveLi = document.querySelector('.list');
    prevActiveLi.classList.add('active');

    // display the page 
    function displayPage(){
        document.querySelector('.main-content').innerHTML = '';
        for(let i= 0; i<cardsAllowed; i++){
            let exNum = allPatients[cardsAllowed*(currentPage-1)+i];
            if(exNum){
                document.querySelector('.main-content').appendChild(allPatients[cardsAllowed*(currentPage-1)+i]);
            }
        }
        
    }
    displayPage();

    // function to activate the list 
    function liActive(){
        for(let i of document.querySelectorAll('.list')){
            console.log('inside liActive(): ', i.innerText);
            if(i.innerText == currentPage){
                i.classList.add('active');
                prevActiveLi.classList.remove('active');
                prevActiveLi = i;
                break;
            }
            
        } 
    }

    let currentPaginatioTarget = currentPage;

    function onPaginationClick(event){
        let target = event.target.tagName == 'IMG' ? event.target.parentElement : event.target;
        if(target.tagName == 'A' && target.getAttribute('id')!= 'prev' && target.getAttribute('id')!= 'last'){
            currentPage = target.innerText;
            currentPaginatioTarget = currentPage;
            liActive();
            displayPage();
        }
        else if(target.tagName == 'A' && target.getAttribute('id') == 'prev' ){

            currentPaginatioTarget -= 3;
            if(currentPaginatioTarget < 1){
                currentPaginatioTarget = 1;
            }

            target.href = '#item'+`${currentPaginatioTarget}`;
            // console.log("new target is", target.href);
            
        }
        else if(target.tagName == 'A' && target.getAttribute('id') == 'last' ){
                
            currentPaginatioTarget = parseInt(currentPaginatioTarget) + 3;

            if(currentPaginatioTarget>nosPagination){
                currentPaginatioTarget = nosPagination;
            }
            
            target.href = '#item'+`${currentPaginatioTarget}`;
            // console.log("new target is", target.href);
            
        }
    }

    function onSearchAnimate(target){
        target.parentElement.querySelector('.search-box').classList.toggle('d-none');
    }

    function onNameSearch(name){
        allPatients = [];
        totalPatients.forEach(element => {
            if(element.querySelector('.patient-name').innerText.toLowerCase().includes(name.toLowerCase())){
                allPatients.push(element);
            }
        });
        document.querySelector('.result span').innerText = allPatients.length;
        // console.log(allPatients.length);
        // console.log(allPatients);
        for(let x of document.querySelectorAll('.list')){
            x.remove();
        }
        paginationNumber();
        currentPage = 1;
        liActive();
        displayPage();
    }

</script>



<!-- 
<style>

#example2_filter{
  display: flex;
  justify-content: end;
}
.card{
  margin-bottom: 1rem;
}
</style>

  <div class="main-content side-content pt-0">


<div class="container-fluid">
					<div class="inner-body">


              <div class="page-header">
							<div>
								<h4 class="text-primary" >Manage Patients</h4>

							</div>
                  {% if org.orgtype == "Dental Clinic" or  org.orgtype == "Imaging Centre" or org.orgtype == "Dental Clinic Branch" %}
							<div class="d-flex">
								<div class="justify-content-center">

									<a href="/add_patient_only" class="btn btn-primary my-2 btn-icon-text">
									  <i class="fe fe-plus mr-2"></i> Register New Patient
									</a>
								</div>
							</div>
                  {% endif %}
						</div>


		<div class="row mb-2">
        {% if org.orgtype == "Dental Clinic" %}
          {% if usr.department == 'Admin' or usr.department == 'Manager'%}
          <div class="col-sm-12">
              <form action="/showpatients" method="post">
                {% csrf_token %}
                  <div class="form-group form-inline">
                    <select class="form-control col-sm-6 col-md-2" name="users" id="users" >
                      <option selected="selected">Select Branch</option>
                      <option value="{{org.id}}">All</option>
                      {% for i in branch %}
                      <option value="{{i.id}}">{{i.orgname}}</option>
                      {% endfor %}

                    </select>
                      
                    <button type="submit" class="btn btn-primary col-sm-3 col-md-1 ml-2"><i class="fa-solid fa-filter"></i> Filter</button>    
                      
                  </div>
              </form>
          </div>
          {% endif %}
        {% endif %}
        <div style="flex: 1; margin-right: 1rem; margin-left: 1rem;">
          <form action="/showpatients" method="post">
            {% csrf_token %}
              <div class="input-group">
                  <input type="search" class="form-control form-control-sm" name="search" id="search" placeholder="Type Patient name, Centre or Registration date ">
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-sm btn-primary" style="margin-left: 2px;">
                          <i class="fa fa-search"></i>
                      Search</button>
                  </div>
              </div>
          </form>
        </div>
    </div>
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="card">
              <div class="card-body">

                <table id="example2" class="table table-bordered border-t0 key-buttons  w-100" >
                  <thead>
                  <tr >
                      <th style="background-color:#2f6ebb;color:white;" class='table-header'><span>Reg. Date</span> <i class="fa-solid fa-sort showMe"></i></th>
                      <th hidden> ID</th>

                    <th style="background-color:#2f6ebb;color:white;" class='table-header'>Patient ID <i class="fa-solid fa-sort showMe"></i></th>
                    <th style="background-color:#2f6ebb;color:white;" class='table-header'>Name <i class="fa-solid fa-sort showMe"></i></th>
                    <th style="background-color:#2f6ebb;color:white;" onclick='onSortClick()'>Gender</th>
                    <th style="background-color:#2f6ebb;color:white;" onclick='onSortClick()'>Email</th>
                    <th style="background-color:#2f6ebb;color:white;" onclick='onSortClick()'>Contact</th>
                    <th style="background-color:#2f6ebb;color:white;" onclick='onSortClick()'>Actions</th>
                      {% if org.orgtype != "Dental Clinic" %}
                      <th style="background-color:#2f6ebb;color:white;">Ref By</th>
                        {% endif %}
                  </tr>
                  </thead>
                  <tbody>
                   {% for i in patient %}
                  <tr>
                    <td>{{ i.rdate|date:'d-m-Y' }}</td>
                    <td hidden>{{ i.id }}</td>
                    <td>{{ i.pid }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.gender }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.contact }}</td>
                    <td>
                        <div class="dropdown dropleft">
                          <button aria-expanded="false" aria-haspopup="true" class="btn ripple btn-sm btn-outline-primary" data-toggle="dropdown" id="dropleftMenuButton" type="button"><i class="si si-options-vertical"></i></button>
                          <div aria-labelledby="dropleftMenuButton" class="dropdown-menu tx-13">
                            <a class="dropdown-item" href="/patientdetails/{{ i.id }}"><i class="fas fa-eye"></i> View</a>
                            <a class="dropdown-item" href="/edit_patient/{{ i.id }}"><i class="fas fa-pencil-alt"></i> Edit</a>
                            {% comment %} <a class="dropdown-item" href="/delete_patient/{{ i.id }}" ><i class="fas fa-trash"></i> Delete</a> {% endcomment %}
                          </div>
                        </div>
                    </td>
                      {% if org.orgtype != "Dental Clinic" %}
                      <td>{{ i.refdoctor }}</td>
                      {% endif %}

                  </tr>
                {% endfor %}
                  </tbody>

                </table>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      
  </div>
      </div>
  

  
</div>
        

        <style>
          {% comment %} .table-header{
            display: flex; 
            justify-content: space-between;
          } {% endcomment %}
        </style>

<script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
<script>
window.alert = (function() {
    var nativeAlert = window.alert;
    return function(message) {
        window.alert = nativeAlert;
        message.indexOf("DataTables warning") === 0 ?
            console.warn(message) :
            nativeAlert(message);
    }
})();
    </script>
<script>
 $(function () {
    $("#example2").DataTable({

      "order": [[ 1, "desc" ]],
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,

    });

  });
</script>

</body> -->


{% endif %}
{%endblock%}
