
{% extends 'dentread_dashbase.html' %}

{% load static %}
{% block content %}

{% if user.is_authenticated %}
<style>
  #example2_filter{
    display: flex;
    justify-content: end;
  }
</style>

<div class="main-content pt-0 "><!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->

      <div class="container">
          <div class="inner-body">

            <div class="page-header">
							<div>
								<h2 class="main-content-title tx-22 mg-b-5">Manage Appointments</h2>

							</div>
							<div class="d-flex">
								<div class="justify-content-center">

									<a href="/add_appointment" class="btn btn-primary my-2 btn-icon-text" >
									  <i class="fe fe-plus mr-2"></i> Add Appointment
									</a>


								</div>

							</div>
						</div>



             <div class="row">
                 <div class="col-sm-12 col-lg-12 col-xl-12">
                 {% if message %}
								<div class="alert alert-success alert-dismissible fade show" role="alert">
  									<strong></strong> {{message}}
  										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
  										</button>
								</div>
										{% endif %}
                 </div>


                      <div class="col-md-12">
            <div class="card">
              <div class="card-header " >
               <h6 class="card-title" >Monthly Appointments</h6>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">


              <!-- /.card-header -->
                           <!-- Post -->
<div class="table-responsive">
                <table id="example2" class="table table-bordered border-t0 key-buttons text-nowrap w-100">
                  <thead>
                    <tr>
                      <th style="background-color:#2f6ebb;color:white;">Date</th>
                         <th hidden> Date</th>
                      <th style="background-color:#2f6ebb;color:white;">Time</th>
                      <th style="background-color:#2f6ebb;color:white;">Centre</th>
                        <th style="background-color:#2f6ebb;color:white;">Name</th>
                        <th style="background-color:#2f6ebb;color:white;">Study</th>
                        <th style="background-color:#2f6ebb;color:white;">Remark</th>
                        <th style="background-color:#2f6ebb;color:white;">Status</th>
                      <th  style="background-color:#2f6ebb;color:white;">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in appointment %}
                    <tr>
                      <td>{{ i.date|date:'d-m-Y' }}</td>
                         <td hidden>{{ i.date|date:'Y-m-d' }}</td>
                      <td>{{ i.time }}</td>
                         <td>{{ i.centre }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.study }}</td>
                        <td>{{ i.remark }}</td>
                        <td>{{ i.status }}</td>
                       <td>
 <div class="dropdown dropleft">
				<button aria-expanded="false" aria-haspopup="true" class="btn ripple btn-sm btn-outline-primary" data-toggle="dropdown" id="dropleftMenuButton" type="button"><i class="si si-options-vertical"></i></button>
				<div aria-labelledby="dropleftMenuButton" class="dropdown-menu tx-13">
					<a class="dropdown-item" href="/appoint_patient/{{ i.id }}"><i class="si si-user-following"></i></i> Register</a>
					<a class="dropdown-item" href="/edit_appointment/{{ i.id }}"><i class="fas fa-pencil-alt"></i> Edit</a>
                    <a class="dropdown-item" href="/delete_appointment/{{ i.id }}"><i class="fas fa-trash"></i></i> Delete</a>
				</div>
			</div>


<!-- ./wrapper -->

                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>

                </table>

          <!-- /.card-body -->
</div>

</div>
                </div>
              </div>

            </div>
                      </div>

                  </div>
             </div>
      </div>

      </div>
</div>
<script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
<script>
window.alert = (function() {
    var nativeAlert = window.alert;
    return function(message) {
        window.alert = nativeAlert;
        message.indexOf("DataTables warning") === 0 ?
            console.warn(message) :
            nativeAlert(message);
    }
})();
    </script>
<script>
 $(function () {
    $("#example2").DataTable({

       "order": [[ 1, "desc" ]],
       "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,

    });

  });
</script>
   <!-- Main content -->

{% endif %}
{%endblock%}