{% extends 'dentread_dashbase.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<style>
    body{
        background: white;
        padding-left: 80px;
    }
    *{
        box-sizing: border-box;
        line-height: 30px;
    }
    .container{
        margin: 1rem auto;
        max-width: 1150px;
    }
    .header{
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    .header img{
        transform: rotate(90deg);
        width: 22px;
    }
    .header h5{
        margin-bottom: 0 !important;
        margin-left: 1rem;
    }
    /* .content{
        box-shadow: 1px 2px 10px 0px #79797942;
        padding: 2rem;
        border-radius: 8px;
    } */
    .button{
        /* border: 1px solid ; */
        border: 1px solid #1F3F7F;
        padding: 3px 20px;
        border-radius: 4px;
    }
    .button-primary{
        background: #1F3F7F;
        color: white;
    }
    .search-box{
        border-radius: 0.25rem;
    }
    .search-box input{
        box-shadow: 1px 2px 10px 0px #79797942;
        width: 175px !important;
    }
    .search-enclosing{
        box-shadow: 1px 2px 10px 0px #79797942;
        width: 38px;
        height: 38px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        border: 1px solid #dfe2e9;
    }
    .clinic-details{
        padding: 0.5rem;
        border: 0.4px solid #ABA8A8;
        border-radius: 4px;
        display: flex;
        justify-content: space-around;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    .clinic-details:hover{
        /* background-color: #f0f8ff; */
        box-shadow: 1px 2px 10px 0px #79797942;
        border-left: 5px solid #1F3F7F;
    }
    #inputState{
        font-weight: 500;
        margin-left: 0.5rem;
    }
    
</style>

<div class="container">
    <div class="header">
        <img src="/static/svg_icons/arrowleft2.svg" alt="left arrow" style="cursor: pointer;" onclick="history.back()">
        <h5 onclick="history.back()" style="cursor: pointer;">Branch Profile</h5>
        <div class="search-enclosing" onclick="onSearchAnimate(this)">
            <img src="/static/svg_icons/ei_search_icon.svg" alt="">
        </div>
        <div class="search-box d-none ml-3">
            <input type="text" placeholder="Search" class="form-control" id="cardSearch">
        </div>
        <a href="/addBranchClinic" class="button button-primary ml-3">+ New Branch</a>
    </div>
    <div class="actual-content mt-3">
        <!-- django for loop here  -->
        {% for i in branch %}
        
            <div class="clinic-details">
                <span class="id d-none">{{i.id}}</span>
                <div class="particulars">
                    <span id="inputState">Organisation Name : </span>
                    <span>{{i.orgname}}</span>
                </div>
                <div class="particulars">
                    <span id="inputState">Manager : </span>
                    <span>{{i.manager}}</span>
                </div>
                <div class="particulars">
                    <span id="inputState">Reg. Date : </span>
                    <span>{{i.date|date:"Y-m-d"}}</span>
                </div>
                <div class="particulars">
                    <span id="inputState">Organisation Type : </span>
                    <span>Clinic Branch</span>
                </div>
                <div class="particulars">
                    <span id="inputState">Status: </span>
                    <span>{{i.status}}</span>
                </div>
            </div>
        {% endfor %}
        <!-- django for loop ends here  -->
    </div>

</div>

<script>
    document.querySelector('.search-enclosing').addEventListener('click', function (){
        this.parentElement.querySelector('.search-box').classList.toggle('d-none');
    })
    
    document.querySelector('.search-box').addEventListener('keydown', function (){
        let name = this.value;
        // for(let x of document.querySelectorAll('tbody tr td:first-child')){
        //     if(!x.innerText.toLowerCase().includes(name.toLowerCase())){
        //         x.parentElement.classList.add('d-none');
        //     }else{
        //         x.parentElement.classList.remove('d-none');
        //     }
        // }
    })

</script>
<script>
    document.querySelector('.actual-content').addEventListener('click', function (e){
        let target = e.target;
        while(!target.classList.contains('clinic-details')){
            target = target.parentElement;
        }
        let id = target.querySelector('.id').innerText;
        window.location.href = `/fullBranchDetails/${id}`;
        })
</script>

{% endif %}
{% endblock %}