<!DOCTYPE html>
{% load static %}

<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static '/dropzone/min/dropzone.min.css' %}">
	<script src="{% static '/dropzone/dropzone.js' %}"></script>

	<!-- Favicon -->
	<link rel="icon" href="{% static '/dentread/assets/img/brand/dental.png' %}" type="image/x-icon"/>
	<!-- Title -->
	<title>Dentread- {{page}}</title>

	<!-- Bootstrap css-->
	<link href="{% static '/dentread/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

	<!-- Icons css-->
	<link href="{% static '/dentread/assets/plugins/web-fonts/icons.css' %}" rel="stylesheet"/>
	<link href="{% static '/dentread/assets/plugins/web-fonts/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static '/dentread/assets/plugins/web-fonts/plugin.css' %}" rel="stylesheet"/>

	<!-- Style css-->
	<link href="{% static '/dentread/assets/css/style/style.css' %}" rel="stylesheet">
	<link href="{% static '/dentread/assets/css/skins.css' %}" rel="stylesheet">
	<link href="{% static '/dentread/assets/css/dark-style.css' %}" rel="stylesheet">
	<link href="{% static '/dentread/assets/css/colors/default.css' %}" rel="stylesheet">

	<!-- Color css-->
	<link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static '/dentread/assets/css/colors/color.css' %}">

	<!-- Select2 css-->
	<link href="{% static '/dentread/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">

			<!-- Mutipleselect css-->
	<link rel="stylesheet" href="{% static '/dentread/assets/plugins/multipleselect/multiple-select.css' %}">

	<!-- Sidemenu css-->
	<link href="{% static '/dentread/assets/css/sidemenu/sidemenu.css' %}" rel="stylesheet">

	<!-- Switcher css-->
	<link href="{% static '/dentread/assets/switcher/css/switcher.css' %}" rel="stylesheet">
	<link href="{% static '/dentread/assets/switcher/demo.css' %}" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<style>
		#bgcolor{
			background-color: inherit;
		}
		#shadow, .shape1, .shape2{
			display: none;
		}
		#fine{
			display:none;
		}
		#outer-nav::after, #outer-nav::before{
			display: none;
		}

		a.nav-link::before, a.nav-link::after{
			display: none;
		}

		.nav-left--padding{
			padding-left: 1rem !important;
		}

		.size--update{
			width: 25px !important;
			height: 20px !important;
			margin-right: 7px !important;
		}

		.outer-icon--dimension:nth-child(3){
			width: 28px !important;
		}

		/* .outer-icon--dimension:nth-child(1){
			width: 28px !important;
		} */

		.outer-icon--dimension:nth-child(2){
			width: 20px !important;
		}

		@media (min-width: 768px){

			.main-sidebar-hide .main-sidebar-body .nav-item, .main-sidebar-hide .main-sidebar-body .nav-item+.nav-item {
				text-align: center;
				margin: 6px 0px;
			}
		}

		@media (max-width: 991px) and (min-width: 767px){
			.main-body.leftmenu .main-content.side-content {
				/* margin-top: 60px; */
				margin-top: 0 !important;
			}
		}
		@media (max-width: 991px){
			.sidemenu-logo .main-logo {
				display: flex;
			}
			.main-sidebar{
				top: 0px !important;
			}
		}

		
	</style>
	
	<script src="https://kit.fontawesome.com/ab1f34fcc9.js" crossorigin="anonymous"></script>

	
</head>

<body class="main-body leftmenu">

	<!-- Switcher -->

	<!-- End Switcher -->

	<!-- Loader -->
	<div id="global-loader">
		<img src="{% static '/dentread/assets/img/loader.svg' %}" class="loader-img" alt="Loader">
	</div>
	<!-- End Loader -->

	<!-- Page -->
	<div class="page">

	<!-- Sidemenu -->
		<div class="main-sidebar main-sidebar-sticky side-menu bg-primary">
			<div class="sidemenu-logo">
				<a class="main-logo" href="/login_domain">
					<img src="{% static '/dentread/assets/img/brand/logowhite.png' %}" class="header-brand-img desktop-logo" alt="logo">
					<img src="{% static '/dentread/assets/img/brand/Dental.png' %}" class="header-brand-img icon-logo" alt="logo">
					<img src="{% static '/dentread/assets/img/brand/logowhite.png' %}" class="header-brand-img desktop-logo theme-logo" alt="logo">
					<img src="{% static '/dentread/assets/img/brand/Dental.png' %}" class="header-brand-img icon-logo theme-logo" alt="logo">
				</a>
			</div>
			<div class="main-sidebar-body ">
				<ul class="nav" style="padding-left: 10px;">
					
						<!-- <li class="nav-header"><span class="nav-label"></span></li> -->
						<li class="nav-item">
							<a class="nav-link nav-left--padding outer-icon--dimension" href="/login_domain"><i class="fa-solid fa-home outer-icon--dimension" aria-hidden="true"></i><span class="sidemenu-label">Home</span></a>
						</li>

						<li class="nav-item" id="allNotification">
							<a class="nav-link nav-left--padding outer-icon--dimension" style="position: relative;" href="/notification">
								<i class="fa-solid fa-bell outer-icon--dimension"></i><span class="sidemenu-label">Notifications</span>
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link with-sub nav-left--padding" style="padding-left: 0" id="outer-nav" href="#"><i class="fa-solid fa-list outer-icon--dimension" aria-hidden="true"></i><span class="sidemenu-label">Service Dashboard</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub" style="margin-left: 35px">
								{% for i in topcat %}
									<li class="nav-sub-item">
										<a class="nav-sub-link" href="{{i.admin_url}}/{{i.id}}">{{i.topcat}}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
						
						{% if usr.department == 'Admin' %}
						<li class="nav-item">
							<a class="nav-link with-sub nav-left--padding" style="padding-left: 0" id="outer-nav" href="#"><i class="fa-sharp fa-solid fa-building outer-icon--dimension"></i><span class="sidemenu-label">Organizations</span><i class="angle fe fe-chevron-right"></i></a>

							<ul class="nav-sub" style="margin-left: 35px">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/all_imaging">All Organisations</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/orgprofile_dent">Organization Profile</a>
								</li>
								
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/allusers_dent">Users</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/create_new_branch">Branches</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/myprofile">My Profile</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/reset_pwd">Change Password</a>
								</li>


							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link with-sub nav-left--padding" style="padding-left: 0" id="outer-nav" href="#"><i class="fa-solid fa-cart-flatbed outer-icon--dimension" aria-hidden="true"></i><span class="sidemenu-label">Platform</span><i class="angle fe fe-chevron-right"></i></a>

							<ul class="nav-sub" style="margin-left: 35px">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="#">Image Management</a>
								</li>

								<li class="nav-sub-item d-none">
									<a class="nav-sub-link" href="/all_patients">Patients</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/cstbusiness_dent">Invoices</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/showstudies_dent">Studies</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/settleAccount">Settle Account</a>
								</li>
							</ul>
						</li>
						{% endif %}
						{% if usr.department != 'Admin' %}
						<li class="nav-item">
							<a class="nav-link with-sub nav-left--padding" style="padding-left: 0" id="outer-nav" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i><span class="sidemenu-label">Manage Profile</span><i class="angle fe fe-chevron-right"></i></a>
							<ul class="nav-sub" style="margin-left: 35px">
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/myprofile">My Profile</a>
								</li>
								<li class="nav-sub-item">
									<a class="nav-sub-link" href="/reset_pwd">Change Password</a>
								</li>
							</ul>
						</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link nav-left--padding outer-icon--dimension" href="/logouthandle"><i class="fa-solid fa-right-from-bracket outer-icon--dimension"></i><span class="sidemenu-label">Logout</span></a>
						</li>
									
				</ul>
			</div>
		</div>
		<!-- End Sidemenu -->        <!-- Main Header-->
		<div class="main-header side-header sticky d-none">
			<div class="container-fluid">
				<div class="main-header-left">
					<a class="main-header-menu-icon" href="#" id="mainSidebarToggle"><span></span></a>
				</div>
				<div class="main-header-center">
					<div class="responsive-logo">
						<a href="index.html"><img src="{% static '/dentread/assets/img/brand/logo1.png' %}" class="mobile-logo ht-30" alt="logo"></a>
						<a href="index.html"><img src="{% static '/dentread/assets/img/brand/logo1.png' %}" class="mobile-logo-dark ht-30" alt="logo"></a>
					</div>
					<div class="input-group">
						<form action="/showpatients" method="post" style='display: none'>
							{% csrf_token %}
								<div class="input-group">
									<input type="search" class="form-control form-control-sm" name="search" id="search" placeholder="Search Patient by Name or Id">
									<div class="input-group-append">
										<button type="submit" class="btn btn-sm btn-primary" id="submit">
											<i class="fa fa-search"></i></button>
									</div>
								</div>
						</form>
					</div>
				</div>
				<div class="main-header-right">

					<div class="dropdown main-profile-menu">
						<a class="d-flex" href="#">
							{% if usr.propic %}
							<span class="main-img-user" ><img alt="avatar" src="{{usr.propic.url}}"></span>
							{% endif %}
							{% if not usr.propic %}
							<span class="main-img-user" ><img alt="avatar" src="{% static '/profilepic/propic.jpg' %}"></span>
							{% endif %}
						</a>
						<div class="dropdown-menu">
							<div class="header-navheading">
								<h6 class="main-notification-title">{{usr.name}}</h6>
								<p class="main-notification-text">{{usr.department}}</p>
							</div>
							<a class="dropdown-item border-top" href="/myprofile">
								<i class="fe fe-user"></i> My Profile
							</a>
							<a class="dropdown-item" href="/reset_pwd">
								<i class="fa fa-key"></i> Change Password
							</a>
							<a class="dropdown-item" href="/logouthandle">
								<i class="fe fe-power"></i> Sign Out
							</a>
						</div>
					</div>

					<button class="navbar-toggler navresponsive-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
						aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
					</button><!-- Navresponsive closed -->
				</div>
			</div>
		</div>
		<!-- End Main Header-->		<!-- Mobile-header -->
		<div class="mobile-main-header">
			<div class="mb-1 navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
				<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
					<div class="d-flex order-lg-2 ml-auto">

					<div class="dropdown main-profile-menu">
						<a class="d-flex" href="#">
							{% if usr.propic %}
							<span class="main-img-user" ><img alt="avatar" src="{{usr.propic.url}}"></span>
							{% endif %}
							{% if not usr.propic %}
							<span class="main-img-user" ><img alt="avatar" src="{% static '/profilepic/propic.jpg' %}"></span>
							{% endif %}
						</a>
						<div class="dropdown-menu">
							<div class="header-navheading">
								<h6 class="main-notification-title">{{usr.name}}</h6>
								<p class="main-notification-text">{{usr.department}}</p>
							</div>
							<a class="dropdown-item border-top" href="/myprofile">
								<i class="fe fe-user"></i> My Profile
							</a>
							<a class="dropdown-item" href="/reset_pwd">
								<i class="fa fa-key"></i> Change Password
							</a>
							<a class="dropdown-item" href="/logouthandle">
								<i class="fe fe-power"></i> Sign Out
							</a>
						</div>
					</div>
					<div class="dropdown  header-settings">
						<a href="#" class="nav-link icon" data-toggle="sidebar-right" data-target=".sidebar-right">
							<i class="fe fe-align-right header-icons"></i>
						</a>
					</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Mobile-header closed -->
		<!-- Main Content-->
		{% block content %}
	{% endblock %}

		<!-- End Main Content-->

	<!-- Main Footer-->
		<div class="main-footer text-center">
			<div class="container">
				<div class="row row-sm">
					<div class="col-md-12">
						<span>Copyright © 2023 <a href="#" style="color:#4065a5;">Dentread</a>.</a> All rights reserved.</span>
					</div>
				</div>
			</div>
		</div>
		<!--End Footer-->				<!-- Sidebar -->

		<!-- End Sidebar -->
	</div>
	<!-- End Page -->

	<!-- Back-to-top -->
	<a href="#top" id="back-to-top--new"><i class="fe fe-arrow-up"></i></a>

	<div class="modal fade" id="notificationModal" tabindex="-1"  role="dialog" aria-labelledby="notificationModal" aria-hidden="true">
		<div class="modal-dialog  modal-dialog-centered modal-lg  modal-dialog-scrollable" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body container">
					
					<table id="example2" class="table w-100 key-buttons text-nowrap">
						<thead hidden>
							<tr>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
	
						<tbody id="tableBodyNotification">
						</tbody>
						
					  </table>
				</div>
				<script>
					document.getElementById('example2').parentElement.style.overflowX='auto';
					window.alert = (function() {
						var nativeAlert = window.alert;
						return function(message) {
							window.alert = nativeAlert;
							message.indexOf("DataTables warning") === 0 ?
								console.warn(message) :
								nativeAlert(message);
						}
					})();
					 $(function () {
						$("#example2").DataTable({
					
						  "order": [[ 2, "desc" ]],
						  "paging": false,
						  "ordering": true,
						  "searching":false,
						  "info": false,
						  "autoWidth": false,
						  "responsive": false,
					
						});
					
					  });
				</script>
				 <div class="d-flex justify-content-end">
					<button type="button" id="closeButton" style="background: #a3a3a326; border-color: #a3a3a326; color: black; font-weight: 500; margin: 10px 0; margin-right: 1rem; border-radius: 3px; border-width: thin;" data-dismiss="modal">Close</button>
				</div>
				
			</div>
		</div>
	</div>

	<style>
		
		.notification-badge{
			position: absolute !important;
			top: 0 !important;
			left: 27px !important;
		}
		#tableBodyNotification a{
			font-weight: 500;
		}
		#tableBodyNotification i{
			font-size: 11px;
		}
		.td-details>span:first-child{
			display: inline-flex;
			margin: 6px 0;
			width: 100%;
			font-weight: 600;
			color: darkmagenta;
		}
		.td-date{
			width: 15%;
			font-style: italic;
			font-weight: 500;
			font-size: 13px;
			color: green;
		}

		.notification-row-unread{
			background-color: #cdced4 !important;
			justify-content: center;
			align-items: center;
			/* padding: 0.75rem 0; */
			border-radius: 5px;
			cursor: pointer;
			/* margin: 0; */
			margin-top: 0.5rem;
		}
		.notification-row-read{
			background-color: aliceblue !important;
			justify-content: center;
			align-items: center;
			border: 1px solid grey;
			/* padding: 0.75rem 0; */
			border-radius: 5px;
			cursor: pointer;
			/* margin: 0; */
			margin-top: 0.5rem;
		}
		.notification-row-unread:hover td,
		.notification-row-read:hover td{
			background-color: #afbfff;
		}
		#example2{
			border-collapse: separate;
			border-spacing: 0px 7px;
			border: none;
		}
		
		.table.dataTable td, .table.dataTable th{
			border: none;
		}
		html{
			scroll-behavior: smooth;
		}
		#back-to-top--new{
			/* display: block; */
			background: #1161c2 ;
			color: #fff;
			position: fixed;
			bottom: 20px;
			right: 20px;
			/* z-index: 99; */
			display: none;
			text-align: center;
			/* z-index: 10000; */
			height: 32px;
			width: 32px;
			line-height: 15px;
			background-repeat: no-repeat;
			border: 2px solid transparent;
			background-position: 50%;
			transition: background-color .3s linear;
			/* -moz-transition: background-color .1s linear;
			-webkit-transition: background-color .1s linear;
			-o-transition: background-color .1s linear; */
			border-radius: 3px;
		}
		#back-to-top--new:hover{
			background-color: #1f3f7f;
		}
		.fe-arrow-up:before {
			content: "\e913";
		}

		#back-to-top--new i {
			padding-top: 6px;
			font-size: 14px;
			line-height: 1.8rem;
		}

		.fe {
			font-family: feather!important;
			speak: none;
			font-style: normal;
			font-weight: 400;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		div.jumps-prevent{
			display: none;
		}
		div.col-sm-12.col-lg-12.col-xl-12.mt-5{
			margin-top: 0 !important;
		}
	</style>

	<script>
		
		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function() {scrollFunction()};
		
		function scrollFunction() {
			let top = document.getElementById("back-to-top--new");
			console.log('scrolling');
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				top.style.display = "block";
			} else {
				top.style.display = "none";
			}
		}
	</script>

	<!-- Jquery js-->
	<script src="{% static '/dentread/assets/plugins/jquery/jquery.min.js' %}"></script>

	<!-- Bootstrap js-->
	<script src="{% static '/dentread/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

	<!-- Select2 js-->
	<script src="{% static '/dentread/assets/plugins/select2/js/select2.min.js' %}"></script>

	<!-- Perfect-scrollbar js -->
	<script src="{% static '/dentread/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

	<!-- Sidemenu js -->
	<script src="{% static '/dentread/assets/plugins/sidemenu/sidemenu.js' %}"></script>

	<!-- Sidebar js -->
	<script src="{% static '/dentread/assets/plugins/sidebar/sidebar.js' %}"></script>

			<!-- Internal Chart.Bundle js-->
	<script src="{% static '/dentread/assets/plugins/chart.js/Chart.bundle.min.js' %}"></script>

	<!-- Peity js-->
	<script src="{% static '/dentread/assets/plugins/peity/jquery.peity.min.js' %}"></script>

	<!-- Internal Morris js -->
	<script src="{% static '/dentread/assets/plugins/raphael/raphael.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/morris.js/morris.min.js' %}"></script>

	<!-- Circle Progress js-->
	<script src="{% static '/dentread/assets/js/circle-progress.min.js' %}"></script>
	<script src="{% static '/dentread/assets/js/chart-circle.js' %}"></script>

	<!-- Internal Dashboard js-->
	<script src="{% static '/dentread/assets/js/index.js' %}"></script>

	<!-- Sticky js -->
	<script src="{% static '/dentread/assets/js/sticky.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/accordion-Wizard-Form/jquery.accordion-wizard.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/jquery-steps/jquery.steps.min.j' %}s"></script>

	<!-- Internal Form-wizard js-->
	<script src="{% static '/dentread/assets/js/form-wizard.js' %}"></script>

	<!-- Custom js -->
	<script src="{% static '/dentread/assets/js/custom.js' %}"></script>

	<!-- Switcher js -->
	<script src="{% static '/dentread/assets/switcher/js/switcher.js' %}"></script>

	<script src="{% static '/dentread/assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/datatable/fileexport/jszip.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/datatable/fileexport/pdfmake.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/datatable/fileexport/vfs_fonts.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/datatable/fileexport/buttons.html5.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/datatable/fileexport/buttons.print.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/datatable/fileexport/buttons.colVis.min.js' %}"></script>
	<script src="{% static '/dentread/assets/js/table-data.js' %}"></script>
		<script src="{% static '/dentread/assets/plugins/chart.js/Chart.bundle.min.js' %}"></script>

	<!-- Peity js-->
	<script src="{% static '/dentread/assets/plugins/peity/jquery.peity.min.js' %}"></script>

	<!-- Internal Apexchart js-->
	<script src="{% static '/dentread/assets/js/apexcharts.js' %}"></script>

	<!-- Internal Polyfills js-->
	<script src="{% static '/dentread/assets/plugins/polyfill/polyfill.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/polyfill/classList.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/polyfill/polyfill_mdn.js' %}"></script>

	<!-- Internal Dashboard js-->
	<script src="{% static '/dentread/assets/js/ecommerce-dashboard.js' %}"></script>

	<!-- Internal Jvectormap js-->
	<script src="{% static '/dentread/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static '/dentread/assets/plugins/jvectormap/gdp-data.js' %}"></script>
	<!-- Internal Polyfills js-->
	<script>
	$( document ).ready(function() {
		if (window.matchMedia('(min-width: 768px)').matches) {
			$('body').toggleClass('main-sidebar-hide');
		} else {
			$('body').toggleClass('main-sidebar-show');
		}
		(function getNotificationNumber(){
			console.log('inside get Notification')
			let csr = $("input[name=csrfmiddlewaretoken]").val();    
			mydata={'csrfmiddlewaretoken': csr};
			$.ajax(
				{
				url: `/notificationNumber`,
				method:'GET',
				data: mydata,
				success: function (data) {
					console.log("Number of notifications: ", data);
					let noti=document.querySelectorAll('#allNotification a')[0]
					let childNoti = document.createElement('span');
					childNoti.classList.add('badge', 'badge-warning', 'notification-badge')
					

					childNoti.innerText = data;
					noti.appendChild(childNoti)
					childNoti.style = `{position: absolute; top: 50%; right: 10%; padding: 5px; border: 50%; background: red; color: white }`
					console.log('noti', noti)

				}
			});
		})();
	});
	$(".side-menu").hover(function() {
	if ($('body').hasClass('main-sidebar-hide')) {
		$('body').addClass('main-sidebar-open');
	}
	}, function() {
	if ($('body').hasClass('main-sidebar-hide')) {
		$('body').removeClass('main-sidebar-open');
	}
	});
	</script>

<script>

	document.getElementById('tableBodyNotification').addEventListener('click', onRowClick);
	function onRowClick(e){
		console.log(e.target.href);
		let targetId =  e.target.href.split('//')[1].split('/').slice(-1)[0];
		console.log(targetId)
		e.target.href =  '/' + e.target.href.split('//')[2]
		// e.preventDefault();
	   
		let csr = $("input[name=csrfmiddlewaretoken]").val();    
		mydata={'csrfmiddlewaretoken': csr, id: targetId };
		$.ajax(
			{
			url: `/updateNotificationRead/${targetId}`,
			method:'POST',
			data: mydata,
			success: function (data) {
				console.log("all the notifications: ", data);
			}
		});
	}
	
	
	// ajax call function 
	
	function getNotification(){
		document.getElementById('tableBodyNotification').innerHTML=''
		console.log('inside get Notification')
		let csr = $("input[name=csrfmiddlewaretoken]").val();    
		mydata={'csrfmiddlewaretoken': csr};
		$.ajax(
		  {
			url: `/notification`,
			method:'GET',
			data: mydata,
			success: function (data) {
				console.log("all the notifications: ", data);
				
				console.log("the notification is", data);

				document.getElementById('example2').parentElement.style=`{margin: 0; padding: 0}`;

				document.getElementById('tableBodyNotification').innerHTML = ''

				for(let i of data){

					// row created 
					console.log("inside for loop ")
					let tr = document.createElement('tr');
					if(i.read==0){
						tr.classList.add('notification-row-unread')
					}
					else{
						tr.classList.add('notification-row-read')
					}

					let tdCircle = document.createElement('td');
					let tdData = document.createElement('td');
					let tdDate = document.createElement('td');

					// date td created 
					tdDate.classList.add('td-date');
					tdDate.innerText = new Date(i.date).toLocaleString()
					// circle td created 
					tdCircle.style.width = '4%';
					if(i.read==0){
						let icon= document.createElement('i');
						icon.classList.add('fa', 'fa-solid', 'fa-circle')
						icon.style.color = "#4d00ff"
						tdCircle.appendChild(icon);
					}

					// data td created 
					tdData.classList.add('td-details')
					tdData.style=`width: 75%; white-space: normal;`
					let eventSpan = document.createElement('span')
					eventSpan.innerText = i.event
					detailsSpan = document.createElement('span')
					detailsSpan.innerText = i.details;

					tdData.appendChild(eventSpan)
					tdData.appendChild(detailsSpan)
					
					if(i.hyperLink){

						let anchor= document.createElement('a');
						anchor.innerText= '  See Details'
						// let link = i.hyperLink.substring(1);

						anchor.href = `/updateNotificationRead/${i.id}/${i.hyperLink}`;
						
						// anchor.onclick = `onRowClick(${i.id}, ${i.hyperLink})`;
						tdData.appendChild(anchor)
					}
					
					tr.append(tdCircle, tdData, tdDate)
					
					document.getElementById('tableBodyNotification').prepend(tr);

				}


			}
		});
	}

</script>

</body>

</html>























































































