{% extends 'domain_dashbase.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

 <div class="main-content pt-0 "><!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->

      <div class="container">
          <div class="inner-body">

<div class="row mb-2">
                <div class="col-sm-12 col-lg-12 col-xl-12">
         <div class="error-page">
        <h2 class="headline text-danger"></h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

          <p>
            This Patient is already registered .

          </p>

        </div>
      </div>
      <!-- /.error-page -->

                </div>
</div>
          </div>
      </div>
 </div>
 {% endif %}
 {% endblock %}