{% extends 'dentread_dashbase.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

<div class="main-content side-content pt-0">
    <div class="container-fluid">

        <div class="inner-body">

            <div class="row row-sm">
                <div class="col-lg-12 col-md-12">
                    <div class="card custom-card">
                        <div class="card-body">
                            <form method="post" action="/view_orderdent/{{service_order.id}}">
                                {% csrf_token %}
                                <div class="d-lg-flex">
                                    <h2 class="main-content-label mb-1"><span class="font-weight-bold">Patient ID :</span>{{patient.pid}}</h2>
                                    <div class="ml-auto">
                                        <h2 class="main-content-label mb-1"><span class="font-weight-bold">Case Status :</span>{{service_order.status}}</h2>
                                    </div>
                                    <div class="ml-auto">
                                        <p class="mb-1"><span class="font-weight-bold">Patient Name :</span>{{patient.name}}</p>
                                        <p class="mb-0"><span class="font-weight-bold">Date :</span> {{service_order.date}}</p>
                                    </div>
                                </div>
                                <hr class="mg-b-40">
                                <table id="example2"
                                       class="table table-bordered border-t0 key-buttons text-nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th class="bg-primary text-white">Region</th>
                                            <th class="bg-primary text-white">Type</th>
                                            <th class="bg-primary text-white">Method</th>
                                            <th class="bg-primary text-white">Material</th>
                                            <th class="bg-primary text-white">Remark</th>
                                            <th class="bg-primary text-white">Status</th>
                                            <th class="bg-primary text-white">Lab Comment</th>
                                            <th class="bg-primary text-white">Delivery Tracking</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in pros %}
                                        <tr>
                                            <td>{{i.tooth}}</td>
                                            <td>{{i.type}}</td>
                                            <td>{{i.method}}</td>
                                            <td>{{i.material}}</td>
                                            <td>{{i.remark}}</td>
                                            <td>{{i.status}}</td>
                                            <td>{{i.comment}}</td>
                                            <td>{{i.tracking}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <div class="row row-sm">
                <div class="col-xl-6 mt-4">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="d-flex p-3">
                                <h5 class="float-left main-content-label mb-0 mt-2">All Comments</h5></div>
                            {% for j in comment %}
                            <div class="media mt-0 p-4 border-bottom border-top">
                                <div class="d-flex mr-3">
                                    <a href="#"><img class="media-image avatar avatar-md rounded-circle" alt="64x64" src="{% static '/profilepic/propic.jpg' %}"> </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1 font-weight-semibold tx-16">
                                        {{j.name}}
                                        <span class="fs-14 ml-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"><i
                                        class="fa fa-check-circle-o text-success"></i></span>
                                    </h5>
                                    <span class="text-muted tx-13">{{j.date}}</span>
                                    <p class="font-13  mb-2 mt-2">{{j.comment}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mt-4">
                    <div class="card">
                        <div class="border-top pl-4 pr-4 pb-2 pt-4">
                            <h5 class="mb-4">Leave Comment </h5>
                            <form method="post" action="/lab_post_comment/{{service_order.id}}" multi>
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="mb-3 font-weight-semibold">Your Comment</div>
                                    <textarea class="form-control" id="comment" name="comment"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary mt-3 mb-0" type="submit">Post your comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <a href="/patientdetails/{{patient.id}}" class="btn  ripple btn-primary"><i class="fa fa-angle-left"></i> Back</a>
                </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <!-- /.content -->

    <!-- /.content-wrapper -->

    <!-- /.control-sidebar -->
</div>
<!-- /.modal-dialog -->
</div>
<script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
<script>
window.alert = (function() {
    var nativeAlert = window.alert;
    return function(message) {
        window.alert = nativeAlert;
        message.indexOf("DataTables warning") === 0 ?
            console.warn(message) :
            nativeAlert(message);
    }
})();

</script>
<script>
 $(function () {
    $("#example2").DataTable({

       "order": [[ 2, "desc" ]],
       "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,

    });

  });

</script>
{% endif %}
{%endblock%}
