<div>Dear User,</div>
<br>
<div>Your Report hasbeen successfully completed. Now you can download, print and share the report from your manage report menu. Please find attachments herewith. </div>
<br>
<div>Thank You,</div>
<br>
<div><strong><span class="il">Dentread</span></strong></div>
<div>

<div><strong>For more information visit Dentread </strong>:<a href="https://cloud.dentread.com/" target="_blank" rel="noopener noreferrer" ><strong>www.<span class="il">dentread</span>.com</strong></a></div>