{% extends 'domain_dashbase.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}


 <div class="main-content pt-0 "><!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->

      <div class="container">
          <div class="inner-body">

            <div class="row row-sm">
                <div class="col-sm-6 ">
               <ol class="breadcrumb float-sm-left">
                   <li class="breadcrumb-item"><a href="#"><h5>Update Order</h5></a></li>
                    </ol>

                 </div>

            </div>

    <!-- Main content -->





            <!-- /.card -->





    <!-- Main content -->

    <form  method="post" action="/update_order/{{pros.id}}">
        {% csrf_token %}
<div class="row mb-2">
                <div class="col-sm-12 col-lg-12 col-xl-12">
          <div class="col-md-12">

            <div class="card card-success">
              <div class="card-header text-white" style="background-color:#2f6ebb;">
                <h6 class="card-title">Details</h6>
              </div>
              <div class="card-body">
                <!-- Date dd/mm/yyyy -->
                  <div class="form-group">
                        <label for="exampleInputPassword1">Region</label>
                   <input type="text" class="form-control" id="tooth" name="tooth" value="{{pros.tooth}}" readonly>

                      </div>

                  <div class="form-group">
                        <label for="exampleInputPassword1">Type</label>
                        <input type="text" class="form-control" id="type" name="type" value="{{pros.type}}" readonly>
                      </div>


                <!-- phone mask -->
                <div class="form-group">
                        <label for="exampleInputPassword1">Method</label>
                        <input type="text" class="form-control" id="method" name="method" value="{{pros.method}}" readonly>
                      </div>
                <!-- /.form group -->
                <div class="form-group">
                        <label for="exampleInputPassword1">Material</label>
                        <input type="text" class="form-control" id="material" name="material" value="{{pros.material}}" readonly>
                      </div>
                <!-- phone mask -->
           <div class="form-group">
                        <label for="exampleInputPassword1">Remark</label>
                        <input type="text" class="form-control" id="remark" name="remark" value="{{pros.remark}}" readonly>
                      </div>
                <!-- /.form group -->
            <div class="form-group">
                        <label for="exampleInputPassword1">Status</label>
                        <select type="text" class="form-control" id="status" name="status" >
                            <option value="{{pros.status}}" selected>{{pros.status}}</option>
                            <option value="Processing" >Processing</option>
                            <option value="Fabricated" >Fabrication</option>
                            <option value="Dispatched" >Dispatched</option>
                        </select>
                      </div>
                <!-- IP mask -->
             <div class="form-group">
                        <label for="exampleInputPassword1">Lab Comment</label>
                        <input type="text" class="form-control" id="comment" name="comment" value="{{pros.comment}}">
                      </div>
                <!-- /.form group -->
<div class="form-group">
                        <label for="exampleInputPassword1">Delivery Tracking</label>
                        <input type="text" class="form-control" id="tracking" name="tracking" value="{{pros.tracking}}" >
                      </div>

              <!-- /.card-body -->

            <!-- /.card -->





<div class="row">
    <div class="col-sm-6">

                        <button type="reset" value="reset" class="btn  ripple btn-warning">Reset</button>
                      </div>

                  <div class="col-sm-6">
                    <!-- checkbox -->
                      <button type="submit" class="btn btn-block ripple btn-primary ">Update</button>
                  </div>



     </div>
      </div>
              </form>
   </div>
          </div>
      </div>
 </div>
</div>
</div>
</div>
</div>
{% endif %}
{%endblock%}