{% extends 'dentread_dashbase.html' %}
{% load static %}
{% load filename %}
{% block content %}
{% if user.is_authenticated %}
 <div class="main-content pt-0 "><!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->

      <div class="container">
          <div class="inner-body">

            <div class="row row-sm">
                <div class="col-sm-6 ">
               <ol class="breadcrumb float-sm-left">
                   <li class="breadcrumb-item"><a href="#"><h5>Send Mail</h5></a></li>
                    </ol>

                 </div>

            </div>

    <!-- Main content -->


    <form  method="post" action="/sendmail/{{service_order.id}}">
        {% csrf_token %}

                <div class="col-sm-12 col-lg-12 col-xl-12">
                    {% if message %}
								<div class="alert alert-success alert-dismissible fade show" role="alert">
  									<strong></strong> {{message}}
  										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
  										</button>
								</div>
										{% endif %}
      <div class="row">

        <div class="col-md-8">



             <div class="card card-secondary">
            <div class="card-header" >
              <h5 class="card-title">Send Mail</h5>

              <div class="card-tools">
                  <h6 class="badge badge-warning">{{service_order.mailstatus}}</h6>

              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputEstimatedBudget">Select Data</label>
                <select type="text" id="data" name="data"  class="form-control select2bs4" style="width: 100%;" required>
                      <option selected="selected" disabled>Choose </option>
                           <option value="Report">Report</option>
                           <option value="Images">Images</option>
                           <option value="Report & Images">Report & Images</option>

                       </select>
              </div>

             <div class="form-group">
                <label for="inputSpentBudget">Select Recipient</label>
                 <select type="text" id="recipient" name="recipient"  class="form-control select2bs4" style="width: 100%;" required>
                      <option selected="selected" value="Choose">Choose </option>
                     {% if org.orgtype != "Dental Clinic" %}
                           <option value="Doctor">Doctor</option>
                      <option value="Doctor & Patient">Doctor & Patient</option>
                     {% endif %}
                           <option value="Patient">Patient</option>


                       </select>
              </div>




<div class="row">
    <div class="col-12">

              <button type="submit" class="btn btn-block ripple btn-primary">Send mail</button>

    </div>
    <div class="col-6">

              <a type="button"  href="/marksent/{{service_order.id}}" class="btn btn-block ripple btn-info" hidden>Mark as Sent</a>

    </div>
</div>
      </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>


    <!-- /.content -->
  </div>
          </div>
      </div>
</form>
{% endif %}
{%endblock%}