{% extends 'domain_dashbase.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}



  <div class="main-content pt-0 "><!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->

      <div class="container">
          <div class="inner-body">

      <div class="row row-sm">
          <div class="col-sm-6 ">
               <ol class="breadcrumb float-sm-left">
                   <li class="breadcrumb-item"><a href="#"><h5>Organisation Profile</h5></a></li>
                    </ol>

          </div>

        </div>
		<div class="row mb-2">


<div class="col-sm-12 col-md-7 col-xl-12">
								<div class="card custom-card">
									<div class="">
										<div class="main-content-body main-content-body-contacts">
											<div class="main-contact-info-header pt-3">
												<div class="media">
													<div class="main-img-user">
														{% if users.propic %}
														<img alt="avatar" src="{{org.propic.url}}">
														{% endif %}
														{% if not users.propic %}
														<img alt="avatar" src="{% static '/profilepic/propic.jpg' %}">
														{% endif %}
													</div>
													<div class="media-body">
														<h4>{{users.name}}</h4>
														<p>{{users.department}}, </p>

													</div>
												</div>
												<div class="main-contact-action btn-list pt-3 pr-3">
													<a href="/edit_user_dent/{{ users.id }}" class="btn ripple btn-primary text-white btn-icon" data-placement="top" data-toggle="tooltip" title="Edit Profile"><i class="fe fe-edit"></i></a>

												</div>
											</div>
											<div class="main-contact-info-body">


												<div class="media-list">
													<div class="media">
														<div class="media-body">
															<div>
																<label>Official Email</label> <span class="tx-medium">{{users.email}}</span>
															</div>
															<div>
																<label>Contact</label> <span class="tx-medium">{{users.contact}}</span>
															</div>
														</div>
													</div>
													<div class="media">
														<div class="media-body">
															<div>
																<label>Education</label> <span class="tx-medium">{{users.edu}}</span>
															</div>
															<div>
																<label>Speciality</label> <span class="tx-medium">{{users.spec}}</span>
															</div>
														</div>
													</div>
													<div class="media">
														<div class="media-body">
															<div>
																<label>Current Address</label> <span class="tx-medium">{{users.address}}</span>
															</div>
															{% if users.sign %}
															<div>
																<label>User Signature</label> <img alt="avatar"  height="60" src="{{users.sign.url}}">
															</div>
															{% endif %}



														</div>
													</div>

												</div>

													</div></div>
											</div>
										</div>
									</div>
								</div>
							</div>
		</div>
		  </div>
	  </div>
  </div>

			{% endif %}
			{% endblock %}